<launch>
    <node pkg="dji_sdk" exec="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" value="/dev/ttyUSB0"/>
    <param name="baud_rate" value="921600"/>
    <param name="app_id" value="your app id here"/>
    <param name="app_version" value="1"/>
    <param name="align_time" value="false"/>
    <param name="enc_key" value="your app key here"/>
    <param name="use_broadcast" value="false"/>
    </node>
</launch>
